<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Twitter</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/x-icon" href="~/admin/assets/images/favicon.ico">
    <link rel="stylesheet" href="~/admin/assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="~/admin/assets/css/vendor/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="~/admin/assets/css/vendor/font-awesome.min.css">
    <link rel="stylesheet" href="~/admin/assets/css/vendor/themify-icons.css">
    <link rel="stylesheet" href="~/admin/assets/css/vendor/cryptocurrency-icons.css">
    <link rel="stylesheet" href="~/admin/assets/css/plugins/plugins.css">
    <link rel="stylesheet" href="~/admin/assets/css/helper.css">
    <link rel="stylesheet" href="~/admin/assets/css/style.css">
    <link id="cus-style" rel="stylesheet" href="~/admin/assets/css/style-primary.css">
</head>
<body>

    <div class="main-wrapper">
        <div class="content-body m-0 p-0">
            <div class="row m-0 bg-dark d-flex justify-content-center">
                <div class="container-lg col-12 d-flex justify-content-center p-0" style="background-color:black; height: 100%; min-height: 100vh;">
                    <div class="col-2 border-right border-dark">
                        <img class="img-fluid col-4 mt-2 ml-20" src="../../../twitter_logo.png" />
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item" style="background-color:black;">
                                <a class="text-light mt-2" style="font-size:1.6rem;" asp-controller="Layout" asp-action="Main"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
                            </li>
                            <li class="list-group-item" style="background-color:black;">
                                <a class="text-light mt-2" style="font-size:1.6rem;"><i class="fa fa-hashtag" aria-hidden="true"></i> Explore</a>
                            </li>
                            <li class="list-group-item" style="background-color:black;">
                                <a class="text-light mt-2" style="font-size:1.6rem;"><i class="fa fa-bell-o" aria-hidden="true"></i> Notifications</a>
                            </li>
                            <li class="list-group-item" style="background-color:black;">
                                <a class="text-light mt-2" style="font-size:1.6rem;"><i class="fa fa-envelope-square" aria-hidden="true"></i> Messages</a>
                            </li>
                            <li class="list-group-item" style="background-color:black;">
                                <a class="text-light mt-2" style="font-size:1.6rem;"><i class="fa fa-bookmark-o" aria-hidden="true"></i> Bookmarks</a>
                            </li>
                            <li class="list-group-item" style="background-color:black;">
                                <a class="text-light mt-2" style="font-size:1.6rem;"><i class="fa fa-list-alt" aria-hidden="true"></i> Lists</a>
                            </li>
                            <li class="list-group-item" style="background-color:black;">
                                <a class="text-light mt-2" style="font-size:1.6rem;" asp-controller="Layout" asp-action="Profile"><i class="fa fa-user" aria-hidden="true"></i>Profil</a>
                            </li>
                            <li class="list-group-item" style="background-color:black;">
                                <a class="text-light mt-2" style="font-size:1.6rem;"><i class="fa fa-btc" aria-hidden="true"></i>More</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <div class="container">
                            <main role="main" class="pb-3">
                                @RenderBody()
                            </main>
                        </div>
                    </div>
                    <div class="col-3 border-left border-dark">
                        <div class="border border-dark pl-10 pt-5 pb-5 mt-2" style="border-radius:50px;">
                            <span>
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </span>
                            <input class="text-light" type="search" style="outline:none; border:none; background-color:transparent;" placeholder="Search" aria-label="Search">
                        </div>
                        <div class="col-12 bg-dark pl-0 pr-0 pt-2 pb-2 mt-2" style="border-radius:10px;">
                            @await Component.InvokeAsync("ConnectPeople")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
