@model Tuple<User, List<Tweet>>
@{
    Layout = "_Layout";
}


<div class="box col-12 p-0">
    <div class="col-12 border-bottom border-secondary p-0" style="background-color:black;">
        <h2 class="text-light">Home</h2>
    </div>

    <div class="col-12 d-flex border-bottom border-secondary p-0" style="background-color:black;">
        <div class="col-2 pt-10">
            <img class="col-12" src="@Model.Item1.ImagePath" />
        </div>
        <div class="col-10">
            <partial name="PartialViews/_TweetCreatePartial" model="new Tweet()"/>
        </div>
    </div>

    <div class="col-12 bg-dark border-bottom border-secondary" style="height:1rem;"></div>
    <div class="col-12" style="background-color:black;">
        @foreach (var item in Model.Item2)
        {
            <partial name="PartialViews/_TweetPartial" model="@item" />
        }
    </div>
</div>