@*@{
        ViewData["Title"] = "Home Page";
    }

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@
@{
    Layout = null;
}

<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Admin Panel</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/x-icon" href="~/admin/assets/images/favicon.ico">
    <link rel="stylesheet" href="~/admin/assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="~/admin/assets/css/vendor/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="~/admin/assets/css/vendor/font-awesome.min.css">
    <link rel="stylesheet" href="~/admin/assets/css/vendor/themify-icons.css">
    <link rel="stylesheet" href="~/admin/assets/css/vendor/cryptocurrency-icons.css">
    <link rel="stylesheet" href="~/admin/assets/css/plugins/plugins.css">
    <link rel="stylesheet" href="~/admin/assets/css/helper.css">
    <link rel="stylesheet" href="~/admin/assets/css/style.css">
    <link id="cus-style" rel="stylesheet" href="~/admin/assets/css/style-primary.css">
</head>
<body>
    <div class="main-wrapper">
        <div class="content-body m-0 p-0">

            <div class="row m-0">
                <div class="box col-6 m-0 position-relative" style="background-image: url(../../../home_main_background.png); height:100%; min-height:100vh;">
                    <img class="img-fluid col-6 d-flex justify-content-center" src="../../../twitter_logo.png"/>
                </div>
            </div>
            @*<div class="login-register-wrap">
                <div class="row">
                    <div class="d-flex align-self-center justify-content-center order-2 order-lg-1 col-lg-5 col-12">
                        <div class="login-register-form-wrap">
                            <div class="content">
                                <h1>Bilge Adam Twitter</h1>
                                <p>Yönetici girişi yapmak için lütfen kullanıcı bilgilerinizi kullanın.</p>
                            </div>
                            <div class="login-register-form">
                                <form asp-controller="Account" asp-action="Login">
                                    <div class="row">
                                       
                                        <div class="col-12 mt-10">
                                            <button class="button button-primary button-outline">Giriş Yap</button>
                                            <a asp-controller="Home" asp-action="Index" class="button button-primary button-outline">Anasayfaya Dön</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="login-register-bg order-1 order-lg-2 col-lg-7 col-12">
                        <div class="content">
                            <h1>Giriş Yap</h1>
                            <p>Bilge Adam Twitter yönetici sayfasına hoşgeldiniz.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
    </div>




    <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-3.3.1.min.js"></script>
    <script src="assets/js/vendor/popper.min.js"></script>
    <script src="assets/js/vendor/bootstrap.min.js"></script>
    <script src="assets/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="assets/js/plugins/tippy4.min.js.js"></script>
    <script src="assets/js/main.js"></script>
</body>
</html>





