@*@model List<User>

@{
    var term = TempData["ConnectUsers"] as List<User>;

}*@

<div class="box col-12 rounded-10">
    <div class="text-light">
        <h3>Kimi takip etmeli</h3>
    </div>

    @*@foreach(var item in Model)
            {
                <div class="d-flex justify-content-between">
                    <img src="@item.ImagePath" />
                    <div>
                        <h4>@item.FirstName @item.LastName</h4>
                        <p>@item.EmailAddress</p>
                    </div>
                    <a class="col-6 btn btn-outline-primary btn-lg btn-block text-primary rounded-50">Takip et</a>
                </div>
            }*@
    <div>
        <a>Daha fazla göster</a>
    </div>
</div>
